<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style/app.css">
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <title>Vue Form & List</title>
</head>
<body>
    <div id="app">
        <header>
            <nav>
                <a href="#" @click="switchView('Home')">HOME</a>
                <a href="#" @click="switchView('Form_reg')">REGISTRATION FORM</a>
                <a href="#" @click="switchView('List')">LIST USER</a>
            </nav>
        </header>

        <transition name="page">
            <component :is="currentView"></component>
        </transition>
    </div>

    <template id="home-template">
        <div class="home__pg"></div>
    </template>

    <template id="form-template">
        <div class="form__pg">
            <h2 class="name__form">{{ text }}</h2>
            <div class="about" v-if="userShow">
                <h3>{{ userMessageData }}</h3>
            </div>
            <label for="name">First name:
                <input type="text" id="name" autofocus required placeholder="First name" v-model="user.firstName">
            </label>
            <label for="username">Username:
                <input type="text" id="username" required placeholder="Last name" v-model="user.lastName">
            </label>
            <label for="email">Email:
                <input type="email" id="email" required placeholder="Email" v-model="user.email">
            </label>
            <label for="photo">Picture:
                <input type="text" id="photo" required placeholder="http://" v-model="user.picture">
            </label>
            <div class="form__photo">
                <img class="avatar" v-if='havePhoto' :src="user.picture" alt="No image">
                <a v-else href="https://www.iconfinder.com/search/?q=user+photo&price=free&style=glyph" target="_blank">
                    Add avatar
                </a>
            </div>
            <label for="age">Your age:
                <input type="number" id="age" required placeholder="Age" v-model="user.age">
            </label>
            <label for="activity">Activity:
                <input type="checkbox" id="activity" required v-model="user.isActive">Yes
            </label>
            <label for="level">Access level:
                <input type="select" id="level" list="your_level" required placeholder="Access level" v-model="user.accessLevel">
                    <datalist id="your_level">
                        <option value=""></option>
                        <option value="user"></option>
                        <option value="admin"></option>
                        <option value="guest"></option>
                    </datalist>
            </label>
            <label for="balance">Balance:
                <input type="text" id="balance" required placeholder="Balance" v-model="user.balance">
            </label>
            <label for="phone">Phone:
                <input type="tel" id="phone" required placeholder="Phone" v-model="user.phone">
            </label>
            <label for="address">Address:
                <input type="text" id="address" required placeholder="Address" v-model="user.address">
            </label>
            <label for="company">Company:
                <input type="text" id="company" required placeholder="Company" v-model="user.company">
            </label>
            <label for="bio">Biography:
                <textarea id="bio" required placeholder="Biography" v-model="user.about"></textarea>
            </label>
            <label for="date">Date registration:
                <input type="date" id="date" required placeholder="Date registration" v-model="user.registered">
            </label>
            <button class="add_user" v-if="!show" @click="saveUser">
                <i class="ion-person-add"></i>
            </button>
            <div class="search">
                <pre>{{ user }}</pre>
            </div>
        </div>
    </template>

    <template id="list-template">
        <div class="list__pg">
            <h2 class="name__list">{{ text }}</h2>
            <span>{{ count }}</span>
            <div class="user" v-for="user in list">
                <ul>
                    <li v-for="prop in user">{{ prop }}</li>
                </ul>
            </div>
        </div>
    </template>

    <script src="https://unpkg.com/vue@2.4.4/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="main.js"></script>
</body>
</html>